/*Will able to everything as a default*/
body{
    

}

/*IDs in css begin with a hashtag*/
#iheader{
    height: 400;
    width: 200;
    background-color:grey;
}
#ifooter{
    height: 400;
    width: 200;
    background-color: yellow;
}
#isec1{
    height: 400;
    width: 200;
    background-color: pink;
}
#isec2{
    height: 400;
    width: 200;
    background-color: white;
}
#isec3{
    height: 400;
    width: 200;
    background-color: lightseagreen;

}
    
#header{
    height: 100;
    width: 0.50;
    
}


/*CLASSES in css begin with a dot*/
.classname{

}
