/*Will able to everything as a default*/
body{
    

}

/*IDs in css begin with a hashtag*/
/*Challenge1*/
#iheader{
    height: 200px;
    width: 300px;
    background-color:grey;
}
#ifooter{
    height: 200px;
    width: 300px;
    background-color: yellow;
}
#isec1{
    height: 500px;
    width: 300px;
    background-color: pink;
}
#isec2{
    height: 500px;
    width: 300px;
    background-color: white;
}
#isec3{
    height: 500px;
    width: 300px;
    background-color: lightseagreen;

}
    
#header{
    height: 100;
    width: 0.50;
    
}


/*CLASSES in css begin with a dot*/
/*challeneg2*/
.header{
    height: 100px;
    width: 100%; 
    background: greenyellow;
 }
 .section1L{
     height: 200px;
     width: 50%;
     background-color: darkkhaki;
     float: left;
 }
 .section1R{
    height: 200px;
    width: 50%;
    background-color: aqua;
    float: left;
 }
 .section2L{
    height: 200px;
    width: 25%;
    background-color: darkkhaki;
    float: left;
 }
 .section2R{
     height: 200px;
     width: 75%;
     background-color: aqua;
     float: right;
 }
 .section3L{
     height: 200px;
     width: 33.33%;
     background-color: darkkhaki;
     float: left;
 }
 .section3R{
     height: 200px;
     width: 66.66%;
     background-color: aqua;
     float: right;
 }
.footer{
    height: 100px;
    width: 100%;
    background-color: grey;
}
 



/*challenge3*/
.box{
        width: 400px;
        padding: 10px;
        border: 10pc;
        border-radius: 4px;
        float: center;
        background-color: gold;
    }
    f1{
        margin: 0;
        text-align: center;
    }
    f2{
        width: 400px;
    }
    f3{
        background-color: hotpink
    }
        
.title{
    
}





